$color_card: rgb(73, 183, 197);
$color_logo: rgb(68, 149, 227);
$color_text_off: rgb(117, 117, 117);
$color_border: rgb(230, 236, 240);

@mixin border_dashed() {
  border-bottom: 1px dashed $color_border;
}
@mixin box-shadow() {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}
/* カード投稿フォーム */
.form-card{
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
  background-color: rgb(255, 255, 255);
  border-top: solid 4px rgb(68, 149, 227);
  border-radius: 4px 20px;
  @include box-shadow();

  > * {
    padding: 5px 15px;
    &:not(:last-child) {
      @include border_dashed();
    }
  }

  #card_title {
    height: 2rem;
  }

  #card_text {
    height: 6.5rem;
  }

  .form-items {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .form-items-wrapper {
      display: flex;

      label {
        text-decoration: none;
        color: $color_logo;
        cursor: pointer;
        &:hover {
          color: rgb(58, 96, 133);
        }
        &:last-child {
          margin-left: 1rem;
        }

        input[type=checkbox] {
          display: none;
          &:not(:checked) + label::after {
            content: "OFF";
            color: $color_text_off
          }
          &:checked + label::after {
            content: "ON";
            color: $color_logo;
          }
        }
      }
    }

    input[type=submit] {
      padding: 5px 10px;
      border-radius: 6px;
      background-color: $color_logo;
      color: rgb(255, 255, 255);
      font-weight: bold;
      &:hover {
        background-color: rgb(58, 131, 199);
      }
    }
  }
}

/* カード一覧 */
.contents-card {
  margin-top: 1.25rem;
  background-color: rgb(255, 255, 255);
  border-top: solid 4px $color_card;
  border-radius: 4px 20px;
  @include box-shadow();

  > * {
    padding: 5px 15px;
    &:not(:last-child) {
      @include border_dashed();
    };
  }

  .card-user {
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    color: $color_text_off;
  }

  .card {

    .card-title {
      font-size: 1rem;
      font-weight: bold;
      color: rgb(23, 44, 60);
      border-bottom: 1px solid $color_card;
    }

    .card-text {
      padding: 1rem 0;
    }

    .card-images {

      .card-image {
          img {
          width: 100%;
          max-width: 500px;
          border-radius: 10px;
          @include box-shadow();
        }
      }
    }
  }

  .card-items {
    display: flex;
    justify-content: flex-end;
    margin: 5px;

    a {
      text-decoration: none;
      color: $color_logo;
      &:hover {
        color: rgb(58, 96, 133);
      }
      &:last-child {
        margin-left: 1rem;
      }
    }
  }
}