$breakpoint-up: 768px;
$breakpoint-down: 767px;
$color: (main: #f5f5f5,
  white: #ffffff,
  logo: #4495e3,
  logo_selected: #082d52,
  alert: hsl(354, 74%, 49%),
  heading: #091b29,
  text_off: #757575,
  border: #e6ecf0,
  border_dashed: #ccccee,
  input_focus: #EEEEFF,
) !default;

@mixin max-screen($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

@mixin min-screen($break-point) {
  @media screen and (min-width: $break-point) {
    @content;
  }
}

@mixin border_dashed() {
  border-bottom: 1px dashed #{map-get($color, border)};
}

@mixin box-shadow() {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

@mixin link-text () {
  text-decoration: none;
  color: #{map-get($color, logo)};
  cursor: pointer;

  &:hover,
  &:active {
    color: #{map-get($color,logo_selected)};
  }

  @content;
}

@mixin card() {
  min-height: 12rem;
  margin-top: 1.25rem;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;

  &>*,
  &>.alert>*
  &>.field_with_errors>* {
    padding: 10px 15px;
    width: 100%;

    &:not(:last-child) {
      @include border_dashed();
    }
  }

  @content;
}

@mixin input() {
  width: 100%;
  height: 2rem;

  &:focus {
    outline: none;
    background-color: #{map-get($color, input_focus)};
    border: 1px dashed #{map-get($color, border_dashed)};
  }

  @content;
}

@mixin label($marginL: 0rem) {
  @include link-text() {

    &:hover>*,
    &:active>* {
      color: #{map-get($color, logo_selected)};
    }
  }

  ;

  &.checked-publish {
    margin-left: $marginL;
  }

  input[type=checkbox] {
    display: none;

    &+label::after,
    &:checked+label::after {
      display: inline-block;
      font-family: "Font Awesome 5 Free";
    }

    &+label::after {
      content: "\f0c8";
      font-weight: 400;
    }

    &:checked+label::after {
      content: "\f14a";
      font-weight: 900;

    }
  }
}

@mixin submit_btn() {
  padding: 5px 16px;
  border-radius: 4px;
  background-color: #{map-get($color, logo)};
  color: #ffffff;
  font-weight: bold;
  @content;

  &:hover {
    background-color: #3a83c7;
  }
}

/* 要素 */
body {
  background-color: #{map-get($color, main)};
}

h1,
h2,
h3 {
  color: #{map-get($color, heading)};
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

/* レスポンシブ */
.pc {
  @include max-screen($breakpoint-down) {
    display: none;
  }
}

.mobile {
  @include min-screen($breakpoint-down) {
    display: none;
  }
}

/* ヘッダー */
header {
  width: 100%;
  height: 52px;
  background-color: #ffffff;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);

  .header-wrapper {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title-logo {
      display: flex;
      align-items: center;

      a {
        display: flex;
        align-items: center;

        img {
          height: 22px;
        }
      }
    }

    nav {
      display: flex;
      height: 100%;
      justify-content: space-between;
      align-items: center;

      .hover-underline {
        height: 100%;
        border-bottom: #{map-get($color, white)} solid 3px;

        &:hover {
          border-bottom: #{map-get($color, logo)} solid 3px;
        }

        &>a>svg {
          @include min-screen($breakpoint-up) {
            margin-right: 5px
          }

          ;
        }

        a {
          display: flex;
          align-items: center;
          height: 100%;
          padding: 0 10px;
          color: #{map-get($color, logo)};
          text-decoration: none;
        }
      }
    }
  }
}

/* フッター */
footer {
  width: 100%;
  height: 52px;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);

  p {
    color: #{map-get($color, logo)};
  }
}

/* フラッシュメッセージ */
div.flash {
  width: 100%;
  min-width: 400px;
  max-width: 600px;
  margin: 0 auto 16px;
  padding: 0 50px;

  >* {
    position: relative;
    padding: 0.75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;

    &:empty {
      padding: 0;
      border: 0px;
    }

  }

  .notice {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cd;
  }

  .alert {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
}

/* メインラッパー */
.main-wrapper {
  min-width: 300px;
  max-width: 600px;
  min-height: calc(100vh - 152px);
  margin: auto;
  padding: 0px 50px;

}

/* コンテナー */
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;

  .contents {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.h1-mypage {
  display: flex;

  @include max-screen($breakpoint-down) {
    flex-direction: column;
  }

  @include min-screen($breakpoint-up) {
    justify-content: space-between
  }

  ;

  >p>a {
    @include link-text();
  }
}

/* カード投稿フォーム */
.form-card {
  @include card() {
    display: flex;
    flex-direction: column;
    
    #search-result {
      min-height: 2.75rem;
      color: #777777;
      user-select:none;

      .child {
        cursor: pointer;
        
        &:hover,
        &:active {
          color: #000000;
        }
      }
    }
  }

  @include box-shadow();

  .alert-warning {
    color: #{map-get($color, alert)};

    ul li {
      font-size: 0.75rem;
      list-style: none;
    }
  }

  #card_title,
  #card_text {
    @include input();
  }

  #card_text {
    height: 6.5rem;
  }

  .form-items-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .form-items {
      display: flex;

      label {
        @include label($marginL: 1rem);
      }
    }

    input[type=submit] {
      @include submit_btn();
    }
  }

  .images-container {
    display: flex;
    flex-direction: column;

    &>* {
      margin-bottom: 0.5rem;
    }

    .annotation {
      font-size: 0.75rem;
      color: #888888;
    }

    div label {
      display: inline-block;
      border: 1px dashed #{map-get($color, border_dashed)};
    }
  }
}

/* カード一覧 */
.card-container {
  @include card() {
    margin-bottom: 2rem;
    border-top: solid 4px #{map-get($color,logo)};
  }

  @include box-shadow();

  .card-user {
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    color: #{map-get($color, text_off)};
  }

  .card-content {

    .card-title {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 2rem;
      font-size: 1rem;
      font-weight: bold;
      color: #{map-get($color, heading)};
      border-bottom: 1px solid #{map-get($color, logo)};

    }
    .icon-opened::after {
      content: "+";
      margin-right: 0.25rem;
      font-size: 1rem;
      color: #{map-get($color, logo)};
      transition: all 0.2s ease-out;
    }

    .card-text {
      overflow: hidden;
      height: 0;
      padding: 1rem 0px;
      transition: all 0.2s ease-out;
    }

    .card-images {
      text-align: center;

      .card-image {
        margin-bottom: 1rem;

        img {
          width: 100%;
          max-width: 500px;
          border-radius: 10px;
          @include box-shadow();
        }
      }
    }
  }

  .card-items {
    display: flex;
    justify-content: flex-end;
    margin: 5px;

    a {
      @include link-text();

      &:last-child {
        margin-left: 1rem;
      }
    }
  }
}

/* ページネーション */
.pager {
  margin-bottom: 1rem;

  .pagination {
    display: table;
    border-collapse: separate;
    margin: auto;

    @include max-screen($breakpoint-down) {
      border-spacing: 1rem 0;
    }

    @include min-screen($breakpoint-up) {
      border-spacing: 0.25rem 0;
    }

    span {
      display: table-cell;

      @include max-screen($breakpoint-down) {
        width: 10vh;
        background-color: #{map-get($color,logo)};
        border-radius: 10%;
        color: #{map-get($color, white)};
        font-weight: bold;
      }

      @include min-screen($breakpoint-up) {
        width: 50px;
        border-radius: 2px;
        color: #{map-get($color,logo)};
      }

      height: 50px;
      text-align: center;
      vertical-align: middle;
      -webkit-transition: background-color 0.3s ease;
      -moz-transition: background-color 0.3s ease;
      -o-transition: background-color 0.3s ease;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #{map-get($color,logo)};
      }

      &:active {
        background-color: #{map-get($color,logo_selected)};
      }

      &:hover,
      &:hover>a,
      &:active,
      &:active>a {
        color: #{map-get($color,white)};
      }

      &.current {
        border: 1px solid #{map-get($color, border_dashed)};
      }

      a {
        text-decoration: none;

        @include max-screen($breakpoint-down) {
          color: #{map-get($color,white)};
          font-weight: bold;
        }

        @include min-screen($breakpoint-up) {
          color: #{map-get($color,logo)};
        }
      }
    }
  }
}

/* ユーザーフォーム（新規登録，ログイン、ユーザー編集） */
form {
  @include card() {
    display: flex;
    flex-direction: column;
  }

  @include box-shadow();

  #error_explanation {
    color: #{map-get($color, alert)};

    h2 {
      display: none;
    }

    ul li {
      font-size: 0.75rem;
      list-style: none;
    }
  }

  .field {
    input {
      @include input() {}
    }

    label {
      @include label($marginL: 0rem);
    }

    .annotation {
      color: #{map-get($color, alert)};
      font-size: 0.75rem;
      font-style: italic;
      vertical-align: top;
    }
  }

  .actions {
    display: flex;
    justify-content: center;
    height: 3.5rem;
    padding: 0.5rem 1rem;

    input[type=submit] {
      @include submit_btn();
    }
  }
}

/* 退会フォーム */
.delete-account {
  margin-top: 2rem;/*  */
  box-shadow: none;

  .button_to {
    min-height: 0!important;
  }

  input[type=submit] {
    padding: 5px 16px;
    border-radius: 6px;
    background-color: #{map-get($color, alert)};
    color: #{map-get($color, white)};
    font-weight: bold;

    &:hover {
      background-color: #a01623;
      color: #{map-get($color, white)};
    }

    border: none;
  }
}

/* deviseテキストリンク */
.link-devise {
  width: 100%;
  min-width: 300px;
  max-width: 600px;
  margin: 1.5rem 0;
  text-align: right;

  a {
    @include link-text();
  }
}