$color_alert: rgb(218, 32, 50);
$color_card: rgb(73, 183, 197);
$color_logo: rgb(68, 149, 227);
$color_text_off: rgb(117, 117, 117);
$color_border: rgb(230, 236, 240);

@mixin border_dashed() {
  border-bottom: 1px dashed $color_border;
}
@mixin box-shadow() {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}


/* ユーザーフォーム */
form {
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  @include box-shadow();

}